table {
    font-size: 2.5rem;
    color: black;
    background: white;
    margin: 2rem 1rem 0;
    border: 5px solid rgb(65, 125, 6);
    max-width: 100%;

    th,
    td {
        border: 1px solid black;
        text-align: left;
        height: 3rem;
        box-sizing: border-box;
    }

    th {
        border: 2px solid black;
        padding-left: 1rem;
    }
}

// BEM methodology for css class-naming
.c-update {
    display: flex;
    flex-direction: column;

    &__cells {
        &:nth-child(1) {
            width: 5%;
        }

        &:nth-child(2) {
            width: 22%;
        }

        &:nth-child(3) {
            width: 10%;
        }

        &--inactive {
            background: #e0e0e0;
            padding-left: 1rem;
        }

        &-input {
            border: none;
            width: 100%;
            padding: 0;
            font-size: 2.5rem;
            margin-left: 0;
            padding-left: 1rem;
            height: 100%;
            box-sizing: border-box;

            &:focus {
                outline: none;
                background: #8bf0d5;
            }
        }

        &-button {
            padding: 0;
            height: 100%;
            width: 100%;
        }
    }

    &--submit {
        width: 7rem;
        height: 3rem;
        align-self: center;
        margin: 2rem 0;
    }
}